@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root{
    --active-bgc:#AD9EFD;
    --noActive-color:#7C7A8C;
    --BORDER-color:#262630;
    --text-color:#EEEEEE;
    --icon--color:#94FDB6;
    --icon--colorI:#EEB71A;
    --icon--colorII:#813FE2;
    --font:"Noto Sans";

}

*{
    font-family: var(--font);
}
.Noact{
    color: var(--noActive-color);
}
.Act {
    @apply bg-[color:var(--icon--colorII)] text-[color:var(--text-color)] rounded-[8px];
  }
  
.leftSide li {
    @apply w-[90%] cursor-pointer p-1.5 gap-1.5 mt-3 text-xs lg:p-2.5 lg:gap-2.5 lg:text-[14px];
  }
  .menuIcon{
    @apply hidden max-md:flex max-md:p-5 max-md:text-2xl;
  }
  