<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="src/input.css"> -->
    <link rel="stylesheet" href="src/output.css">
    <script src="https://kit.fontawesome.com/7611f3b3f2.js" crossorigin="anonymous"></script>
</head>
<body class="flex justify-center font-[Noto Sans] dark:bg-black">
    <div class="container  dark:bg-[#0E1924] text-[var(--text-color)]">
    <div class="leftSide w-[20%] border-r-[0.2px] border-[var(--noActive-color)]">
        <div class="logo border-b border-[var(--noActive-color)] mb-0.5"><h1 class="uppercase text-2xl py-2.5 px-4">Charity</h1></div>
        <div class="mainMenu py-3.5 px-3">
            <span class="Noact uppercase text-xs">Main Menu</span>
            <div class="menuList flex items-center justify-center">
            <ul class="ml-4 w-full text-[14px]">
                <li class="Act rounded-[8px] flex gap-2.5 items-center"><i class="fa-solid fa-gauge-high ml-2"></i> Dashboard</li>
                <li class="flex gap-2.5 items-center Noact"><i class="fa-solid fa-hands-holding-child ml-2 "></i>Beneficiaries</li>
                <li class="flex gap-2.5 items-center Noact"><i class="fa-solid fa-user ml-2"></i></i>Members</li>
                <li class="flex gap-2.5 items-center Noact"><i class="fa-solid fa-calendar-check ml-2"></i></i>Events</li>
                
            </ul>
        </div>
        </div>

    </div>
</div>
<script src="toggele.js"></script>

</body>
</html>